---
layout: default
heading: Šumavský pohár MTB
subheading: Regionální seriál MTB XC závodů
description: Šumavský pohár MTB je tradiční regionální seriál MTB XC závodů pořádaných v Jihočeskéme kraji a Bavorksu. Je určen především mladým zájemcům o cyklistiku, kteří si zde mohou vyzkoušet své cylistické dovednosti a závodní atmosféru.
---

{% include header.html %}

<div class="container">

    <div class="alert alert-danger" role="alert">
        <p>
            Kvůli situaci kolem šíření nemoci COVID-19, a s tím souvisejícími omezeními, jsme nuceni <strong>změnit kalendář závodů Šumavského poháru MTB 2020</strong>.
            Přestože situace kolem organizace sportovních akcí je zatím dost komplikovaná, děláme vše pro to, aby se i letošní ročník Šumavského poháru uskutečnil.
            Už teď je jisté, že se celý seriál uskuteční v trochu omezeném formátu. Přišli jsme o první závod v Nové Peci a z pochopitelných důvodů přijdeme i o závody v německém
            <strong>Bad Griesbachu</strong> a <strong>Haibachu</strong>.
        </p>
        <p>
        Další plánované závody se snažíme uskutečnit.<strong> Podle aktuálně platných nařízení, je možné organizovat sportovní akce do 100 členů</strong>. S tímto omezení počítáme a chystáme formát,
        který umožní uspořádat závody tak, aby splňovaly všechna platná hygienická nařízení. Určitě dojde ke změně tradičního časového programu, ve hře je i rozdělení závodu do dvou závodních dnů.
        O přesném formátu jednotlivých závodů budeme informovat. Vše se bude odvíjet podle aktuálně platných nařízení.
        <strong>Prvním závodem Šumavského poháru MTB 2020 je Krajský přebor, který je plánován na poslední květnový víkend 30-31.5.2020.</strong>
        Registrace na závody bude spuštěna během května.
        </p>
        <br /><br />
        <h4>Zrušené závody</h4>
        <ul>
            <li><strong>Nová Pec</strong> 10.5.2020 - zrušeno bez náhrady</li>
            <li><strong>Haibach</strong> 26.7.2020 - zrušeno bez náhrady</li>
            <li><strong>Bad Griesbach</strong> 6.9.2020 - zrušeno bez náhrady</li>
        </ul>

    </div>


  	{% include races-calendar.html %}

    <div class="poster">
        <a href="assets/img/sumavsky-pohar-poster.png">
            <img class="img-responsive img-thumbnail" alt="Šumavský pohár MTB poster" title="Šumavský pohár MTB poster" src="assets/img/sumavsky-pohar-poster.png" />
        </a>
        <h4><a href="assets/sumavsky-pohar-poster.pdf">Plakát Šumavský pohár MTB 2020 <small>[PDF]</small></a></h4>
    </div>

	{% include races.html %}

</div>

{% include footer.html %}
