<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70314128-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-70314128-3');
  </script>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='{{ page.description }}'>
  <meta property="og:url" content='http://jcp-mtb.cz/{{ page.name}}' />
  <meta property="og:type" content='website' />
  <meta property="og:title" content='{{ page.heading }}' />
  <meta property="og:description" content='{{ page.description }}'/>
  <meta property="og:image" content='http://jcp-mtb.cz/assets/img/header.jpg' />
  <meta property="og:locale" content='cs_CZ' />

  <title>{{ site.title }}</title>

  <link href='{{ site.baseurl }}/assets/app.css' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
